<div class="px-3 py-2 flex flex-col gap-5">
    <div class="text-3xl font-bold">Fullstack Developer based in India 📍</div>
    <div class="flex flex-col gap-2 text-lg">
        <p>
            Hey, I'm Vivek, a Fullstack Developer, I love working with
            technology. I have worked on various projects using diffrent
            tehcnology including React/Next.js, TailwindCSS, TypeScript, NodeJs,
            ExpressJs, DBMS(SQL and NoSQL), Docker, AWS.
            <br />
            <i>Fun fact :- This page is built using Angular</i>
        </p>
        <p>
            I have a strong foundational knowledge of data structures and
            algorithms, including proficiency in arrays, linked lists, stacks
            queues, trees, graphs, Hash Tables Sets and recursion,backtracking,
            dynamic programming, greedy algorithms, divide and conquer, graph
            algorithms.
        </p>
        <p>
            I also have a keen interest in machine learning, I aim to build
            applications and tools that can help our healthcare workers.
        </p>
    </div>
</div>
