<!-- <div id="modal" class="z-10 flex flex-col">
    <div class="modal-content bg-[#fefefe] border-2 w-8/12 rounded-md">
        <div class="bg-red-100 w-full px-2 pt-2 flex flex-row justify-between">
            <div class="flex flex-row gap-2">
                <div
                    class="bg-red-500 hover:bg-red-600 duration-100 rounded-full w-[14px] h-[14px] cursor-pointer"
                    (click)="closeModal()"
                ></div>
                <div
                    class="bg-yellow-500 hover:bg-yellow-600 duration-100 rounded-full w-[14px] h-[14px]"
                ></div>
                <div
                    class="bg-green-500 hover:bg-green-600 duration-100 rounded-full w-[14px] h-[14px]"
                ></div>
            </div>
            <div class="font-bold">{{ iconDetails.fileName }}</div>
            <div class="cursor-move">#</div>
        </div>
        <ng-container *ngComponentOutlet="getComponent()"> </ng-container>
    </div>
</div> -->

<div
    id="modal"
    id="movable-resizable-div"
    class="modal fixed z-1 left-0 top-[20%] w-full h-full flex flex-col resize"
>
    <div class="modal-content bg-[#fefefe] border-2 mx-auto w-8/12 rounded-md">
        <div
            class="bg-red-100 px-2 pt-2 grid grid-cols-10 cursor-move"
            (mousedown)="onMouseDown($event)"
        >
            <div class="col-span-5 flex flex-row gap-2">
                <div
                    class="bg-red-500 cursor-pointer hover:bg-red-600 duration-100 rounded-full w-[14px] h-[14px]"
                    (click)="closeModal()"
                ></div>
                <div
                    class="bg-yellow-500 hover:bg-yellow-600 duration-100 rounded-full w-[14px] h-[14px] cursor-default"
                ></div>
                <div
                    class="bg-green-500 hover:bg-green-600 duration-100 rounded-full w-[14px] h-[14px] cursor-default"
                ></div>
            </div>
            <div class="font-bold">{{ iconDetails.fileName }}</div>
        </div>
        <ng-container *ngComponentOutlet="getComponent()"> </ng-container>
    </div>
</div>
