<app-navbar></app-navbar>
<div class="h-[90vh] grid grid-rows-12">
    <div class="row-start-1 row-span-11">
        <div class="px-5 flex flex-row justify-center items-center gap-10">
            <p class="text-[4.6rem] font-bold">
                Hey There !
                <strong class="text-[#b82c2c]">This is Vivek</strong>
            </p>
        </div>
        <div>
            <div>
            
            </div>
            <img
                src="https://avatars.githubusercontent.com/u/93576226?v=4"
                alt="vivek's avatar"
                class="h-10 w-10"
            />
        </div>
    </div>
    <div>
        <app-dock></app-dock>
    </div>
</div>
