@if (showFileName) {
    <div
        (dblclick)="onDoubleClick()"
        class="flex flex-col justify-center items-center cursor-default text-slate-100"
    >
        <div
            class="rounded-full border-[5px] border-transparent hover:border-white/40 ease-linear duration-200"
        >
            <img
                src="{{ iconDetails.imgSrc }}"
                class="h-12 w-12 rounded-full m-0"
            />
        </div>

        <div class="">
            {{ iconDetails.fileName }}
        </div>
    </div>
} @else {
    <a href="{{ iconDetails.href }}" target="_blank">
        <div
            class="flex flex-col justify-center items-center cursor-default text-slate-100"
        >
            <div
                class="rounded-full border-[5px] border-transparent hover:border-white/40 ease-linear duration-200"
            >
                <img
                    src="{{ iconDetails.imgSrc }}"
                    class="h-12 w-12 rounded-full m-0"
                />
            </div>
        </div>
    </a>
}

@if (isModalOpen && showFileName) {
    <app-modal [iconDetails]="iconDetails" (modalCloseEvent)="closeModal()">
    </app-modal>
}
