@if (showFileName) {
    <div
        (dblclick)="onDoubleClick()"
        class="flex flex-col justify-center items-center cursor-default text-slate-100"
    >
        <div
            class="rounded-full border-[5px] border-transparent hover:border-white/40 ease-linear duration-200"
        >
            <img
                src="{{ iconDetails.imgSrc }}"
                class="h-12 w-12 rounded-full m-0"
            />
        </div>

        <div class="">
            {{ iconDetails.fileName }}
        </div>
    </div>
} @else {
    <a href="{{ iconDetails.href }}" target="_blank">
        <div
            class="flex flex-col justify-center items-center cursor-default text-slate-100"
        >
            <div
                class="rounded-full border-[5px] border-transparent hover:border-white/40 ease-linear duration-200"
            >
                <img
                    src="{{ iconDetails.imgSrc }}"
                    class="h-12 w-12 rounded-full m-0"
                />
            </div>
        </div>
    </a>
}

@if (isModalOpen && showFileName) {
    <div
        id="modal"
        class="modal fixed z-1 left-0 top-[20%] w-full h-full flex flex-col"
    >
        <div
            class="modal-content bg-[#fefefe] border-2 mx-auto w-8/12 rounded-md"
        >
            <div class="bg-red-100 px-2 pt-2 grid grid-cols-10">
                <div class="col-span-5 flex flex-row gap-2">
                    <div
                        class="bg-red-500 hover:bg-red-600 duration-100 rounded-full w-[14px] h-[14px]"
                        (click)="closeModal()"
                    ></div>
                    <div
                        class="bg-yellow-500 hover:bg-yellow-600 duration-100 rounded-full w-[14px] h-[14px]"
                    ></div>
                    <div
                        class="bg-green-500 hover:bg-green-600 duration-100 rounded-full w-[14px] h-[14px]"
                    ></div>
                </div>
                <div class="font-bold">{{ iconDetails.fileName }}</div>
            </div>
            <ng-container *ngComponentOutlet="getComponent()"> </ng-container>
        </div>
    </div>
}
